<%= form_for(@data_function) do |f| %>
  <% if @data_function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_function.errors.count, "error") %> prohibited this data_function from being saved:</h2>

      <ul>
      <% @data_function.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :requirement_id %><br>
    <%= f.number_field :requirement_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :attribute %><br>
    <%= f.text_field :attribute %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :ret %><br>
    <%= f.number_field :ret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
